@*@using Kolpi.Shared.Extentions

<MudPaper Elevation="25" Class="d-flex flex-row pt-6 pb-4" Style="text-align: center" >
    <MudFab Icon="@Icon" Color="@IconColor" Class="mx-4" Size="Size.Large" Link="@Href"></MudFab>
    <div>
        <MudText Typo="Typo.subtitle1" Class="mud-text-secondary">@Title</MudText>
        <MudText Typo="Typo.h5">@valueFormatted</MudText>
    </div>
</MudPaper>

@code {

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Value { get; set; }
    public string valueFormatted;

    [Parameter]
    public string Href { get; set; }

    [Parameter]
    public string Icon { get; set; }

    [Parameter]
    public Color IconColor { get; set; }

    protected override void OnInitialized()
    {
        valueFormatted = Value.IsNumber() ? Value.ToInt().FormatAsCommaSeparated() : Value;
    }
}*@