@page "/tagtypes"

@inject NavigationManager Nav
@inject HttpClient Http
@inject NotificationService Notification
@inject DialogService DialogService

<RadzenDataGrid GridLines="DataGridGridLines.None"
                @ref="categoriesGrid"
                AllowColumnResize="true"
                AllowFiltering="true"
                FilterMode="FilterMode.Advanced"
                AllowSorting="true"
                PageSize="10"
                AllowPaging="true"
                ShowPagingSummary="true"
                Data="@tagCategories"
                TItem="TagTypeViewModel"                
                IsLoading="tagCategories is null">
    <HeaderTemplate>
        <RadzenButton ButtonStyle="ButtonStyle.Info" Icon="add_circle_outline" Text="New Tag Category" Click="AddNewCategory" />
    </HeaderTemplate>
    <Columns>
        <RadzenDataGridColumn TItem="TagTypeViewModel" Title="#" Width="50px" Frozen="@true" Filterable="false" TextAlign="TextAlign.Center">
            <Template Context="category">
                @(tagCategories?.IndexOf(category) + 1)
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="TagTypeViewModel" Property="Name" Title="Name" />
        <RadzenDataGridColumn TItem="TagTypeViewModel" Property="Details" Title="Details" />
        <RadzenDataGridColumn TItem="TagTypeViewModel" Property="ColorCode" Title="Color Code" Filterable="false">
            <Template Context="category">
                <div style="height:20px; width:100%; background-color:@category.ColorCode"></div>
            </Template>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn TItem="TagTypeViewModel" Context="order" Filterable="false" Sortable="false" TextAlign="TextAlign.Right" Width="100px">
            <Template Context="category">
                <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Light" Variant="Variant.Outlined" Shade="Shade.Lighter" Size="ButtonSize.Medium" Click="@(args => EditRow(category))" @onclick:stopPropagation="true">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Outlined" Shade="Shade.Lighter" Size="ButtonSize.Medium" class="my-1 ms-1" Click="@(args => DeleteRow(category))" @onclick:stopPropagation="true">
                </RadzenButton>
            </Template>            
        </RadzenDataGridColumn>

    </Columns>
</RadzenDataGrid>

@code {

    List<TagTypeViewModel> tagCategories = default!;
    RadzenDataGrid<TagTypeViewModel> categoriesGrid;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        tagCategories = await Http.GetFromJsonAsync<List<TagTypeViewModel>>("api/tagtypes") ?? default!;
    }

    private void AddNewCategory() => Nav.NavigateTo("/tagtypes/add");

    private async Task DeleteRow(TagTypeViewModel modelToDelete)
    {
        var result = await DialogService.Confirm($"Are you sure to delete '{modelToDelete.Name}' tag category?", "Delete Category");

        if (result == null || !result.Value)
            return;

        var deleteResult = await Http.DeleteAsync($"api/tagtypes/{modelToDelete.Id}");
        if (deleteResult.IsSuccessStatusCode)
        {
            Notification.Notify(
                new NotificationMessage
                    {
                        Summary = "Tag category deleted successfully.",
                        Severity = NotificationSeverity.Success,
                        Duration = 2000
                    }
            );
            tagCategories.Remove(modelToDelete);
            await categoriesGrid.Reload();
        }
        else
        {
            Notification.Notify(
                new NotificationMessage
                    {
                        Summary = $"Tag category delete failed. Error: {deleteResult.ReasonPhrase}",
                        Severity = NotificationSeverity.Error,
                        Duration = 2000
                    }
            );
        }
    }

    private void EditRow(TagTypeViewModel tagTypeViewModel)
    {
        Nav.NavigateTo($"/tagtypes/update/{tagTypeViewModel.Id}");
    }
}
