@page "/question/add"

@using Kolpi.Client.Components
@using Kolpi.Shared.ViewModels

@inject HttpClient Http

<MudContainer>
    <MudText Typo="Typo.h6">
        Question
        <MudText Typo="Typo.body2" Inline="true">
            (For mathmetical equations [<i>fx</i> button], refer
            <MudLink Href="https://katex.org/docs/supported.html" Target="_blank">Katex docs</MudLink>)
        </MudText>
    </MudText>

    <Editor @bind-HTMLContent="question" PlaceHolder="Type your question here..." />

    <MudGrid>
        <MudItem xs="12" md="12">
            <MudChipSet AllClosable="true" OnClose="Closed">
                @foreach (var value in tagsDone)
                {
                    <MudChip Text="@value"></MudChip>
                }
            </MudChipSet>
        </MudItem>

        <MudItem xs="12" md="12">
            <MudAutocomplete T="TagViewModel"
                             Label="Tagging"
                             SearchFunc="Search"
                             ResetValueOnEmptyText=true
                             ValueChanged="OnSelectedValueChanged" />
        </MudItem>
    </MudGrid>

</MudContainer>

@code {

    private string question = default!;
    private IEnumerable<TagViewModel> Tags { get; set; } = default!;
    private TagViewModel Value { get; set; } = default!;
    List<string> tagsDone = new List<string>();

    private void OnSelectedValueChanged(TagViewModel tag)
    {
        Value = tag;
        tagsDone.Add(tag.Name);
    }

    private async Task<IEnumerable<TagViewModel>> Search(string value)
    {
        Tags = await Http.GetFromJsonAsync<TagViewModel[]>("api/tags") ?? Array.Empty<TagViewModel>();

        if (string.IsNullOrEmpty(value))
            return Tags;
        return Tags.Where(x => x.Name.Contains(value, StringComparison.InvariantCultureIgnoreCase));
    }

    private void Closed(MudChip chip) => tagsDone.Remove(chip.Text);
}

@*

    <h4><Icon Type="question-circle"></Icon> Tag this question (e.g. GK, Level-1, Physics etc.)</h4>
    <Select Mode="multiple"
    Style="width: 100%"
    Placeholder="Type to add tags..."
    TItemValue="string"
    TItem="string">
    @foreach (var item in tags ?? Array.Empty<TagViewModel>())
    {
    <SelectOption TItemValue="string" TItem="string" Value="@item.Id.ToString()">@item.Name</SelectOption>
    }
    </Select>

    <h4>Question Type and Options</h4>
    <Space Size=@("Large")>
    <SpaceItem>
    <RadioGroup @bind-Value="@questionType" ButtonStyle="RadioButtonStyle.Solid">
    <Radio RadioButton Value="@("1")">Objective</Radio>
    <Radio RadioButton Value="@("2")">Subjective</Radio>
    </RadioGroup>
    </SpaceItem>
    @if (questionType == "1")
    {
    <SpaceItem>
    <Select OnSelectedItemChanged="OnAnsOptionsCountChnage" DefaultValue="@("1")" TItem="string" TItemValue="string">
    <SelectOption TItemValue="string" TItem="string" Value=@("1")>1 answer option</SelectOption>
    <SelectOption TItemValue="string" TItem="string" Value=@("2")>2 answer options</SelectOption>
    <SelectOption TItemValue="string" TItem="string" Value=@("3")>3 answer options</SelectOption>
    <SelectOption TItemValue="string" TItem="string" Value=@("4")>4 answer options</SelectOption>
    <SelectOption TItemValue="string" TItem="string" Value=@("5")>5 answer options</SelectOption>
    <SelectOption TItemValue="string" TItem="string" Value=@("6")>6 answer options</SelectOption>
    </Select>
    </SpaceItem>
    <SpaceItem>
    <Button Type="dashed" @onclick="AddAnsOption" Icon="plus">Add</Button>
    </SpaceItem>
    }
    else
    {
    <SpaceItem>
    <p>Please tag your subjective question with appropriate categories and levels. That's all we need for the these questions.</p>
    </SpaceItem>
    }
    </Space>

    <div>
    @foreach (AnswerOptionViewModel item in question.AnswerOptions)
    {
    <div>
    <AnsOption AnswerModel="@item" RemoveItemCallback="DeleteAnsOption" />
    </div>
    }
    <Button Icon="save" Type="default" @onclick="SaveQuestion">Save Question</Button>
    </div>

    @code
    {
    protected override async Task OnInitializedAsync()
    {
    tags = await Http.GetFromJsonAsync<TagViewModel[]>("api/tags");
    }

    private void OnChangeQuestionType(string option)
    {

    }

    private void OnAnsOptionsCountChnage(string option)
    {

    }
    } *@
